<nav class="navbar-expand-lg navbar navbar-toggleable-md custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent,#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>   
    </button>
    <div>
      <img src="assets/download.png" class="logo">
    </div>
    <div class="nav-divs">
      <div class="collapse navbar-collapse left-side-outer" id="navbarSupportedContent">
        <ul class="navbar-nav left-side">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropbtn dropdown-toggle" data-toggle="dropdown" href="#">Blog</a>
              <div class="dropdown-content">
                <a href="#">Blog 1</a>
                <a href="#">Blog 2</a>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropbtn dropdown-toggle" data-toggle="dropdown" href="#">Settings</a>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>        
          </li>
        </ul>
      </div>
      <div class="right-side-outer">
        <ul class="right-side">
          <li class="inner-li">
            <a class="fa fa-twitter fa-lg" href="#"></a>
          </li>
          <li class="inner-li">
            <a href="#" class="fa fa-facebook fa-lg"></a>
          </li>
        </ul>
      </div>  
      <div class="ml-2">
        <input type="search" class="searchbar form-control" placeholder="Search" aria-label="Search">
      </div>
    </div>
</nav>
